.TopNav {
  background-color: lightsteelblue;
  height: 3rem;
  line-height: 3rem;
  padding: 0 25rem;
  display: flex;
  justify-content: space-between;
}

.TopNav nav a {
  text-decoration: none;
  margin-right: 1rem;
  color: black;
  border-top: 2px solid lightsteelblue;
  transition: border-bottom 500ms;
}

.TopNav nav a:last-child {
  margin-right: 0;
}

.TopNav nav a:visited {
  color: black;
}

.TopNav-current {
  border-bottom: 2px solid black;
}

.TopNav img {
  height: 2.5rem;
}

.TopNav nav a img {
  height: 1rem;
}

.TopNav nav a:not(.TopNav-current):hover {
  border-bottom: 2px solid darkred;
}
